*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo img{
    width: 10%;
    height: auto;
    margin-top: 10px;
    margin-left: 10;
}
header{
    background-color: #0b621b;
    color: #fff;
    padding: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav li{
    margin-right: 20px;
    margin-top: 15px;
}
nav li:hover{
    background-color: rgb(38, 12, 114);
    padding: 5px;
    border-radius: 5px;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}
h1{
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin: 30px 25px 10px 0px;
}
main{
    padding: 50px;
}
.section{
    margin-bottom: 50px;
}
.section p{
    text-align: center;
}
section h2{
    text-align: center;
    margin: 0 0 20px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product{
    width: calc(33.3% - 20px);
    margin-bottom: 50px;
    text-align: center;
}
.product img{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
}
.product h3{
    margin: 0;
}
.product p{
    margin-top: 10px 0;
}
.product button{
    background-color: #222;
    color: #fff;
    border: 1px solid gainsboro;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
section form{
    margin-left: 35%;
}
section form input{
    margin-left: 50px;
    width: 300px;
    height: 30px;
    margin-top: 20px;
}
#email{
    margin-left: 82px;
}
#message{
    margin-left: 57px;
}
section form button{
    margin-top: 20px;
    width: 50px;
    height: 25px;
    margin-left: 370px;
}
footer {
    background-color: #0b621b;
    color: #fff;
    padding: 20px 0;
  }
  
  footer .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  footer .row {
    margin: 0 -15px;
  }
  
  footer .col-md-3 {
    padding: 0 15px;
  }
  
  footer h3 {
    margin-bottom: 15px;
    color: #fff;
  }
  
  footer p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer ul li {
    margin-bottom: 5px;
  }
  
  footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  footer ul li a:hover {
    color: #ccc;
  }
  
  footer .social-media {
    margin-top: 15px;
  }
  
  footer .social-media li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer .social-media li a {
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
  }
  
  footer .social-media li a:hover {
    color: #ccc;
  }
  
  footer .payment-methods {
    margin-top: 15px;
  }
  
  footer .payment-methods img {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    footer .col-md-3 {
      padding: 0 10px;
    }
  }